*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

build/
out/
.gradle
*.iml
*.ipr
*.iws
.idea/
.vagrant
.DS_Store
*.ids

app.log
app*.gz

cellarhqdump.sql

assets/AppUI 1.0 by pixelcave/
phantomjsdriver.log

twitter4j.properties
*.sql
web/src/ratpack/production.properties
web/src/ratpack/app.properties
