{{# partial "body" }}
  <div id="login-container">
    <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
      <i class="fa fa-history"></i> <strong>Forgot Password</strong>
    </h1>

    <div class="block animation-fadeInQuickInv">
      <div class="block-title">
        <div class="block-options pull-right">
          <a href="/login" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Back to login"><i class="fa fa-user"></i></a>
        </div>
        <h2>Change Password</h2>
      </div>

        {{>common/messages}}

      <form id="form-change-password" action="{{action}}" method="post" class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-12">
            <input type="password" id="password" name="password" class="form-control" placeholder="New password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control" placeholder="Confirm password">
          </div>
        </div>
        <div class="form-group form-actions">
          <div class="col-xs-12 text-right">
            <button type="submit" class="btn btn-effect-ripple btn-sm btn-primary"><i class="fa fa-check"></i> Change password</button>
          </div>
        </div>
      </form>
    </div>

  {{>common/footer}}

  <form id="change-password-form" class='form-horizontal' role='form' method='post' action='{{action}}'>
    <div class='form-group'>
      <label for='password' class='col-sm-2'>
        Password
      </label>
      <div class='col-sm-10'>
        <input type='password' name='password' class='form-control' id='password' value=''>
      </div>
    </div>
    <div class='form-group'>
        <label for='passwordConfirm' class='col-sm-2'>
          Confirm Password
        </label>
        <div class='col-sm-10'>
          <input type='password' name='passwordConfirm' class='form-control' id='passwordConfirm' value=''>
        </div>
    </div>
    <div class='form-group'>
      <div class="col-sm-offset-2 col-sm-10">
        <button type='submit' class='btn btn-primary'>Change my password!</button>
        <a href="/" class="btn btn-link">cancel</a>
      </div>
    </div>
  </form>
{{/partial}}
{{#partial "extra_includes"}}
    <script src="/scripts/pages/change-password.js"></script>
    <script>$(function(){ ChangePassword.init(); });</script>
{{/partial}}

{{> layout-shell.html}}
