<div id="footer">
    <ul>
      <li class="footernav"><a href="/about">About</a></li>
      <li class="footernav"><a href="http://blog.cellarhq.com/">Blog</a></li>
      <li class="footernav"><a href="https://twitter.com/cellarhq" target="_blank">Twitter</a></li>
      <li class="footernav noborder">&copy; CellarHQ 2014</li>
    </ul>

  </div> <!-- /footer -->

</div>

  

</body>
</html>