{{# partial "content" }}
    <h1>Ratpack</h1>
    <p>a micro web framework for Java &amp; Groovy</p>
    {{>common/messages}}
    <section>
      <h1>{{title}}</h1>
        <p>This is the main page for your Ratpack app.</p>
    </section>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Screen Name</th>
            </tr>
        </thead>
        <tbody>
                 {{#each cellars}}
                    <td>{{id}}</td>
                    <td>{{screenName}}</td>
                 {{/each}}
        </tbody>
    </table>
{{/partial}}

{{> layout.html}}