<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name='pageId' content='{{pageId}}'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="/styles/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="/styles/main.css">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="/styles/themes.css">
    <!-- END Stylesheets -->

    <!-- Modernizr (browser feature detection library) -->
    <script src="/scripts/vendor/modernizr-2.8.3.js"></script>
    <title>{{ title }}</title>
</head>

<body>
<div id="page-container" class="header-fixed-top">
    <!-- Main Container -->
    <div id="main-container">
        <!-- Header -->
        <header class="navbar navbar-inverse navbar-fixed-top">
            <ul class="nav navbar-nav-custom">
                <li>
                    <a href="index.html" class="sidebar-title">
                        <i class="fa fa-cube"></i> <span class="sidebar-nav-mini-hide">Cellar<strong>HQ</strong></span>
                    </a>
                </li>
            </ul>

            <!-- Left Header Navigation -->
            <ul class="nav navbar-nav-custom">
                <!-- Header Link -->
                <li class="hidden-xs animation-fadeInQuick">
                    <a href="/breweries"><strong>Breweries</strong></a>
                </li>
                <li class="hidden-xs animation-fadeInQuick">
                    <a href="/beer"><strong>Beer</strong></a>
                </li>
                <li class="hidden-xs animation-fadeInQuick">
                    <a href="/styles"><strong>Styles</strong></a>
                </li>
                <li class="hidden-xs animation-fadeInQuick">
                    <a href="/cellars"><strong>Cellars</strong></a>
                </li>
                <!-- END Header Link -->
            </ul>

            {{#if loggedIn}}
                <ul id='authenticated-menu' class="nav navbar-nav-custom pull-right">

                    <li class="hidden-xs animation-fadeInQuick">
                        <a href='/yourcellar'>Your Cellar</a>
                    </li>
                    <li>
                        <a href='/settings'>Settings</a>
                    <li class="hidden-xs animation-fadeInQuick">
                    <li>
                        <a href='logout'>Logout</a>
                    </li>
                </ul>
            {{else}}
                <ul id='unauthenticated-menu' class="nav navbar-nav-custom pull-right">

                    <li class="hidden-xs animation-fadeInQuick">
                        <a href='/login'>Login</a>
                    </li>
                    <li class="hidden-xs animation-fadeInQuick">
                        <a href='/register'>Register</a>
                    </li>
                </ul>
            {{/if}}
            <!-- END Left Header Navigation -->
        </header>
        <div id="page-content">
            {{#block "content" }}
            {{/block}}
        </div>
        <!-- END Page Content -->
    </div>
    <!-- END Main Container -->
</div>
<!-- END Page Container -->
</div>
<!-- END Page Wrapper -->

<!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-2.1.1.min.js"%3E%3C/script%3E'));</script>

<!-- Bootstrap.js, Jquery plugins and Custom JS code -->
<script src="/scripts/vendor/bootstrap.min.js"></script>
<script src="/scripts/plugins.js"></script>
<script src="/scripts/app.js"></script>

{{#block "extra_includes" }}
{{/block}}


</body>
</html>
