{{# partial "content" }}
	<h1>Login</h1>
	<div class="alert alert-info" style="white-spac:pre">
		A matching username and password will pass authentication
	</div>
	{{>login-form}}
{{/partial}}

{{> layout.html}}