{{# partial "body" }}
  <div id="login-container">
    <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
      <strong>Welcome to CellarHQ</strong>
    </h1>

    <div class="block animation-fadeInQuickInv">
      <div class="block-title">
        <div class="block-options pull-right">
          <a href="/login" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Back to login"><i class="fa fa-user"></i></a>
        </div>
        <h2>Register</h2>
      </div>

        <a class="btn btn-effect-ripple btn-success" href='/auth-twitter' id='twitter-login-btn'>
          <i class="fa fa-twitter"></i> Sign in with Twitter
        </a>

      <hr/>

      {{>common/messages}}

      <form id="form-register" action="{{action}}" method="post" class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-12">
            <input type="text" id="screenName" name="screenName" class="form-control" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input type="text" id="email" name="email" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control" placeholder="Confirm Password">
          </div>
        </div>
        <div class="form-group form-actions">
          <div class="col-xs-6">
            <label class="csscheckbox csscheckbox-primary" data-toggle="tooltip" title="Agree to the terms">
              <input type="checkbox" id="register-terms" name="register-terms">
              <span></span>
            </label>
            <a href="#modal-terms" data-toggle="modal">Terms</a>
          </div>
          <div class="col-xs-6 text-right">
            <button type="submit" class="btn btn-effect-ripple btn-success"><i class="fa fa-plus"></i> Create Account</button>
          </div>
        </div>
      </form>
    </div>

    {{>common/footer}}
  </div>

  <div id="modal-terms" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center"><strong>Terms and Conditions</strong></h3>
        </div>
        <div class="modal-body">
          <h4 class="page-header">1. <strong>General</strong></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
          <h4 class="page-header">2. <strong>Account</strong></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
          <h4 class="page-header">3. <strong>Service</strong></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
          <h4 class="page-header">4. <strong>Payments</strong></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <button type="button" class="btn btn-effect-ripple btn-sm btn-primary" data-dismiss="modal">I've read them!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/partial}}
{{#partial "extra_includes"}}
  <script src="/scripts/pages/register.js"></script>
  <script>$(function(){ Register.init(); });</script>
{{/partial}}

{{> layout-shell.html}}