{{# partial "content" }}
    <h1>Register</h1>

    {{>common/messages}}
    
    <div>
      <a href='/auth-twitter' id='twitter-login-btn'>
        <img src='/images/sign-in-with-twitter-gray.png' alt='Sign in with Twitter'/>
      </a>
    </div>

    <form id="register-form" class='form-horizontal' role='form' method="post" action="{{action}}">
      <div class='form-group'>
        <label class='col-sm-2' for='screenName'>
          Screen Name
        </label>
        <div class='col-sm-10'>
          <input class='form-control' type='text' id='screenName' name='screenName'/>
        </div>
      </div>
      <div class='form-group'>
        <label class='col-sm-2' for='email'>
          Email
        </label>
        <div class='col-sm-10'>
          <input class='form-control' type='text' id='email' name='email'/>
        </div>
      </div>
      <div class='form-group'>
        <label class='col-sm-2' for='password'>
          Password
        </label>
        <div class='col-sm-10'>
          <input class='form-control' type='password' id='password' name='password'/>
        </div>
      </div>
      <div class='form-group'>
        <label class='col-sm-2' for='passwordConfirm'>
          Confirm Password
        </label>
        <div class='col-sm-10'>
          <input class='form-control' type='password' id='passwordConfirm' name='passwordConfirm'/>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-sm-offset-2 col-sm-10'>
          <button type='submit' class='btn btn-primary'>Register</button>
          <a href="/" class="btn btn-link">cancel</a>
        </div>
      </div>
    </form>
{{/partial}}

{{> layout.html}}