footer ul {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
}

footer li {
    border-left: 1px solid #ccc;
    display: inline;
    margin-left: 10px;
    padding-left: 10px;
}

footer li:first-child {
    border: none;
    margin-left: 0;
}

#header-ad {
    text-align: center;
    margin-bottom: 20px;
}

.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}

ul.cellar-bio {
    list-style: none;
}

ul.cellared-drink-flags {
    list-style: none;
    padding: 0;
    margin: 0;
}
.cellared-drink-flags li {
    display: inline;
    margin: 3px;
}
.cellared-drink-flags li:last-child {
    margin: 0;
}

.ui-autocomplete {
    background-color: #fff;
    border-right: 1px solid #dae0e8;
    border-left: 1px solid #dae0e8;
    border-bottom: 1px solid #dae0e8;
}

.ui-autocomplete li:hover {
    background-color: #5CCDDF;
}

.ui-autocomplete a:hover {
    color: #fff;
}

.servererror pre {
    background: none;
}

.servererror pre code {
    border: none;
}