footer ul {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
}

footer li {
    border-left: 1px solid #ccc;
    display: inline;
    margin-left: 10px;
    padding-left: 10px;
}

footer li:first-child {
    border: none;
    margin-left: 0;
}

#header-ad {
    text-align: center;
    margin-bottom: 20px;
}

.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}

ul.cellar-bio {
    list-style: none;
}

ul.cellared-drink-flags {
    list-style: none;
    padding: 0;
    margin: 0;
}
.cellared-drink-flags li {
    display: inline;
    margin: 3px;
}
.cellared-drink-flags li:last-child {
    margin: 0;
}

#cellared-drinks-table td:nth-child(2) {
    max-width: 400px;
}

.servererror pre {
    background: none;
}

.servererror pre code {
    border: none;
}

.roadmap {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.roadmap-behind {
    border-left-color: #deb25c;
}
.roadmap-behind h4 {
    color: #deb25c;
    margin-top: 0;
}
.roadmap-behind h4::before {
    content: "Behind: ";
    font-weight: bold;
}

.roadmap-scheduled {
    border-left-color: #5cafde;
}
.roadmap-scheduled h4 {
    color: #5cafde;
    margin-top: 0;
}
.roadmap-scheduled h4::before {
    content: "Scheduled: ";
    font-weight: bold;
}

.roadmap-ontrack {
    border-left-color: #afde5c;
}
.roadmap-ontrack h4 {
    color: #afde5c;
    margin-top: 0;
}
.roadmap-ontrack h4::before {
    content: "On Track: ";
    font-weight: bold;
}

.alert-danger a {
    color: #fff;
    text-decoration: underline;
}

.brewery-photo img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.beer-photo img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 396px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
