{{#partial "header"}}
	<h1>Link an Email Account</h1>
{{/partial}}
{{#partial "content" }}
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
			<div class="block">
				<div class="alert alert-info">
					<p><strong>Getting close.</strong> To finish linking your account to the email address,
						set a password that you will be able to use for loggin in.</p>
				</div>
				<form id="form-change-password" action="{{action}}" method="post" class="form-horizontal">
					<div class="form-group">
						<div class="col-xs-12">
							<input type="password" id="password" name="password" class="form-control"
							       placeholder="New password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control"
							       placeholder="Confirm password">
						</div>
					</div>
					<div class="form-group form-actions">
						<div class="col-xs-12 text-right">
							<button type="submit" class="btn btn-effect-ripple btn-sm btn-primary"><i
									class="fa fa-check"></i> Change password
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{{/partial}}
{{#partial "extra_includes"}}
	<script src="/scripts/pages/change-password.js"></script>
	<script>$(function () {
		ChangePassword.init();
	});</script>
{{/partial}}

{{> layout.html}}
