{{#partial "header"}}
  <h1>About CellarHQ</h1>
{{/partial}}
{{#partial "content"}}
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <div class="block">
        <div class="row">
          <div class="col-md-9">
            <p>
              CellarHQ is a website dedicated to helping beer enthusiasts track and share their beer cellar. Designed with
              sharing in mind, <em>CellarHQ</em> lets users track the beer sizes, quantities, bottle dates, and more all
              backed by a database of brewery and beer information with almost 15,000 entries. Deep Twitter integration lets
              users share their full cellar details or immediately tweet when they add a beer to their cellar.
            </p>

            <h2>History</h2>
            <p>
              CellarHQ was born from the need to keep track of my ever-growing beer cellar. By day a software guy and by
              night an obsessed beer drinker, I found myself slowly accumulating more and more beer in my closet.
              Unfortunately, beers that shouldn't have been aged ended up lost in the mix, found months later and well
              beyond their ideal age. To help I created a spreadsheet but wanted to share details of my cellar with others
              and explore what others were keeping and aging. I looked for software to help, but didn't find anything so
              wrote one myself.
            </p>

            <h2>Technology</h2>
            <p>The foundation of the platform is built with the following technologies:</p>
            <ul>
              <li><a href="http://www.ratpack.io/">Ratpack</a></li>
              <li><a href="https://github.com/ReactiveX/RxJava">RxJava</a></li>
              <li><a href="http://groovy.codehaus.org/">Groovy</a></li>
              <li>PostgreSQL</li>
            </ul>
            <p>
              We deploy to <a href="http://aws.amazon.com/">Amazon Web Services</a> using
              <a href="https://www.docker.com/">Docker</a>. You can learn more about our technology stack from our blog:
              <a href="http://blog.cellarhq.com/blog/2014/08/18/cellarhq-technology/">http://blog.cellarhq.com</a>.
            </p>

            <h2>Credits</h2>
            <p>
              Initial content was imported from <a href="http://brewerydb.com">BreweryDB.com</a>. CellarHQ was originally
              created by <a href="http://www.cameronstokes.com/">Cameron Stokes</a> and is now owned and operated by
              <a href="http://kyleboon.org/">Kyle Boon</a> and <a href="http://robzienert.com/">Rob Zienert</a>.</p>

            <h2>Development Roadmap</h2>
            <p>We get a lot of questions about features that are down the pipe, along with the progress and when we
              expect to be done. In response, we've created this page to help publicly track our larger efforts. This
              certainly isn't all-inclusive of everything we're working on, but if you don't see what you're looking for
              we encourage you to reach out to us via Twitter (<a href="http://twitter.com/cellarhq">@cellarhq</a>).</p>

            <div class="roadmap roadmap-ontrack">
              <h4>Data Cleanup</h4>
              <div class="row">
                <div class="col-md-3">
                  <strong>Q4, 2014</strong>
                </div>
                <div class="col-md-9">
                  We are currently running data cleanup processes and are working to develop new tools that will run automatically.
                </div>
              </div>
            </div>

            <div class="roadmap roadmap-ontrack">
              <h4>Community Features</h4>
              <div class="row">
                <div class="col-md-3">
                  <strong>Q4, 2014</strong>
                </div>
                <div class="col-md-9">
                  This includes provisioning and linking up a <a href="http://discourse.org">Discourse</a> discussion
                  board. We intend on using it as a development platform for powering many of our future community
                  features.
                </div>
              </div>
            </div>

            <div class="roadmap roadmap-scheduled">
              <h4>Data Import &amp; Export</h4>
              <div class="row">
                <div class="col-md-3">
                  <strong>Q4, 2014</strong>
                </div>
                <div class="col-md-9">
                  Started.
                </div>
              </div>
            </div>

            <div class="roadmap roadmap-scheduled">
              <h4>Mobile apps</h4>
              <div class="row">
                <div class="col-md-3">
                  <strong>Q1, 2015</strong>
                </div>
                <div class="col-md-9">
                  Started.
                </div>
              </div>
            </div>

            <div class="roadmap roadmap-scheduled">
              <h4>Notifications</h4>
              <div class="row">
                <div class="col-md-3">
                  <strong>Q1, 2015</strong>
                </div>
                <div class="col-md-9">
                  Development has not started yet.
                </div>
              </div>
            </div>

            <div class="roadmap roadmap-scheduled">
              <h4>Untappd, BeerAdvocate &amp; Reddit Integration</h4>
              <div class="row">
                <div class="col-md-3">
                  <strong>Q2, 2015</strong>
                </div>
                <div class="col-md-9">
                  Development has not started yet.
                </div>
              </div>
            </div>

            <div class="roadmap roadmap-scheduled">
              <h4>Enhanced Trading Features</h4>
              <div class="row">
                <div class="col-md-3">
                  <strong>Q2, 2015</strong>
                </div>
                <div class="col-md-9">
                  Development has not started yet.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h4>Contact</h4>
            <ul>
              <li><a href="https://twitter.com/cellarhq">Twitter</a></li>
              <li><a href="https://cellarhq.uservoice.com/forums/144014-general">User Voice</a></li>
              <li>Forums <small>(coming soon)</small></li>
            </ul>
          </div>
        </div>

      </div>
  </div>
</div>
{{/partial}}

{{>layout.html}}
