{{#partial "header"}}
  <h1>About CellarHQ</h1>
{{/partial}}
{{#partial "content"}}
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <div class="block">
        <div class="row">
          <div class="col-md-9">
            <p>
              CellarHQ is a website dedicated to helping beer enthusiasts track and share their beer cellar. Designed with
              sharing in mind, <em>CellarHQ</em> lets users track the beer sizes, quantities, bottle dates, and more all
              backed by a database of brewery and beer information with almost 15,000 entries. Deep Twitter integration lets
              users share their full cellar details or immediately tweet when they add a beer to their cellar.
            </p>

            <h2>History</h2>
            <p>
              CellarHQ was born from the need to keep track of my ever-growing beer cellar. By day a software guy and by
              night an obsessed beer drinker, I found myself slowly accumulating more and more beer in my closet.
              Unfortunately, beers that shouldn't have been aged ended up lost in the mix, found months later and well
              beyond their ideal age. To help I created a spreadsheet but wanted to share details of my cellar with others
              and explore what others were keeping and aging. I looked for software to help, but didn't find anything so
              wrote one myself.
            </p>

            <h2>Technology</h2>
            <p>The foundation of the platform is built with the following technologies:</p>
            <ul>
              <li><a href="http://www.ratpack.io/">Ratpack</a></li>
              <li><a href="https://github.com/ReactiveX/RxJava">RxJava</a></li>
              <li><a href="http://groovy.codehaus.org/">Groovy</a></li>
              <li>PostgreSQL</li>
            </ul>
            <p>
              We deploy to <a href="http://aws.amazon.com/">Amazon Web Services</a> using
              <a href="https://www.docker.com/">Docker</a>. You can learn more about our technology stack from our blog:
              <a href="http://blog.cellarhq.com/blog/2014/08/18/cellarhq-technology/">http://blog.cellarhq.com</a>.
            </p>

            <h2>Credits</h2>
            <p>
              Initial content was imported from <a href="http://brewerydb.com">BreweryDB.com</a>. CellarHQ was originally
              created by <a href="http://www.cameronstokes.com/">Cameron Stokes</a> and is now owned and operated by
              <a href="http://kyleboon.org/">Kyle Boon</a> and <a href="http://robzienert.com/">Rob Zienert</a>.</p>
          </div>
          <div class="col-md-3">
            <h4>Contact</h4>
            <ul>
              <li><a href="https://twitter.com/cellarhq">Twitter</a></li>
              <li><a href="https://cellarhq.uservoice.com/forums/144014-general">User Voice</a></li>
              <li>Forums <small>(coming soon)</small></li>
            </ul>
          </div>
        </div>

      </div>
  </div>
</div>
{{/partial}}

{{>layout.html}}
