{{# partial "body" }}
  <div id="login-container">
    <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
      <i class="fa fa-history"></i> <strong>Forgot Password</strong>
    </h1>

    <div class="block animation-fadeInQuickInv">
      <div class="block-title">
        <div class="block-options pull-right">
          <a href="/login" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Back to login"><i class="fa fa-user"></i></a>
        </div>
        <h2>Change Password</h2>
      </div>

        {{>common/messages}}

      <form id="form-change-password" action="{{action}}" method="post" class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-12">
            <input type="password" id="password" name="password" class="form-control" placeholder="New password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control" placeholder="Confirm password">
          </div>
        </div>
        <div class="form-group form-actions">
          <div class="col-xs-12 text-right">
            <button type="submit" class="btn btn-effect-ripple btn-sm btn-primary"><i class="fa fa-check"></i> Change password</button>
          </div>
        </div>
      </form>
    </div>

  {{>common/footer}}
{{/partial}}
{{#partial "extra_includes"}}
    <script src="/scripts/pages/change-password.js"></script>
    <script>$(function(){ ChangePassword.init(); });</script>
{{/partial}}

{{> layout-shell.html}}
