{{#partial "header"}}
	<h1>Terms of Service
		<small><em>(Last updated Sept 12, 2014)</em></small>
	</h1>
{{/partial}}
{{#partial "content"}}
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div class="block">
				<div class="row">
                  {{>common/terms-of-service}}
				</div>
			</div>
		</div>
	</div>
{{/partial}}

{{>layout.html}}
