{{# partial "header" }}
  <h1>Brewery Management</h1>
{{/partial}}
{{# partial "content" }}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <div class="block">
                <!-- Form Validation Title -->
                <div class="block-title">
                    <h2>Edit {{organization.name}}</h2>
                </div>
                <form action="/breweries/{{organization.slug}}" method="post" id="brewery_form" class="form-horizontal form-bordered">
                    {{>breweries/brewery_form}}
                </form>

            </div>
        </div>
    </div>
{{/partial}}

{{# partial "extra_includes"}}
    <script src="{{cdn "/scripts/pages/breweries.js"}}"></script>
    <script>$(function () {
        FormsValidation.init();
    });</script>
{{/partial}}

{{> layout.html}}
