<footer class="text-muted text-center animation-pullUp">
  <ul>
    <li><a href="/terms-of-service">Terms</a></li>
    <li><a href="/privacy-policy">Privacy</a></li>
    <li><a href="http://blog.cellarhq.com">Blog</a></li>
    <li><a href="https://twitter.com/cellarhq">Twitter</a></li>
    <li><a href="https://cellarhq.uservoice.com/forums/144014-general">Help</a></li>
    <li><span id="year-copy"></span> &copy; <a href="/about">CellarHQ</a></li>
  </ul>
</footer>
